@import "styles/mixins.scss";

.landing-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: aliceblue;
  opacity: 0.7;
  border-radius: 5px;
  @extend %tile-title;

  .landing-title {
    font-size: 27px;
    padding-top: 15px;
    padding-bottom: 5px;
  }

  .landing-description {
    padding-left: 10px;
    padding-right: 10px;
  }

  .buttons-container {
    display: flex;
    justify-content: space-between;
    width: 200px;
    padding-bottom: 15px;
  }

  .login-btn, .signUp-btn {
    @extend %link;
  }

}
