@import 'styles/mixins.scss';

.experience-container {
  display: flex;
  flex-direction: column;
  .experience-title-wrapper {
    @extend %page-title-wrapper;

    .experience-title {
      @extend %page-title
    }

    .experience-buttons-container {
      @extend %buttons-container;
      .submit {
        @extend %button-primary;
        .fl-buttonTextCenter {
          letter-spacing: 0.3px;
        }
        .invalid {
          .submit, .submit:hover, .submit:active {
            background-color: $color-button-blocked;
          }
        }
      }
      .cancel {
        @extend %button-secondary;
        .fl-buttonTextCenter {
          color: $color-button-submit;
          letter-spacing: 0.3px;
        }
        .fl-button {
          cursor: pointer;
        }
      }
    }
  }

  .experience-detail {
    border-radius: 10px;
    background-color: $color-white;
    padding: 20px;

    .header-form {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .experience-form {
      display: flex !important;
      justify-content: center;

      .experience-block-item {
        width: 560px;
      }
    }

    .form-group {
      width: 100%;
      max-width: 600px;
      margin-right: 40px;
      margin-bottom: 5px;
      position: relative;
      .wrap-input-field {
        height: 50px;
      }
    }
  }

  .has-error.form-group {
    .react-phone-number-input--invalid {
      margin-bottom: 18px;
    }
    .error-message-container {
      @extend %error-message-container;
      .error-message {
        @extend %error-message;
        margin-bottom: -14px !important;
      }
    }
  }
}
