@import 'styles/mixins.scss';

.post-form-container {
  width: 90%;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 10px;
  padding: 25px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: $color-white;

  .card-header {
    font-size: 28px;
    background-color: $header-shadow;
    padding: 10px;
    color: $color-white;
    border-radius: 5px;
  }

  .card-body-container {
    padding: 15px;

      .error-message-container {
        display: flex;
        justify-content: flex-end;
        margin-top: -15px;
        width: 95%;
        .error-message {
          @extend %error-message;
      }
    }

    .form-group {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      .form-control-lg {
        width: 95%;
        min-height: 60px;
        border-radius: 5px;
        font-size: 18px;
        padding: 10px;
        &:hover {
          border: 1px $header-shadow rgba(0,0,0,.125);
        }
      }
    }

    .submit-post {
      @extend %button-primary;
    }
  }
}