@import "styles/mixins.scss";

.dashboard-container {

  .link {
    @extend %link;
  }

  .dashboard-btn {
    @extend %button-primary;
  }

  thead {

    th, td {
      width: 300px;
      padding: 15px;
      border-bottom: 2px solid #dee2e6;
    }

    .buttons-container {
      display: flex;
    }
  }

}