@import "styles/colors.scss";
.sidebar-item {
  list-style: none;
  text-align: left;
  color: #58595b;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  font-size: 18px;
  font-family: Quicksand;

  a{
    color: $color-white;
    opacity: .5;
  }

  a:hover {
    height: 60px;
    color: $color-white;
    text-decoration: none;
    opacity: 1;
    .imgContainer{
      opacity: 1;
    }
  }
  a:focus{
   outline: none;
  }
}
.sub{
  height: 50px;
}
.sidebar-item-anchor.sub{
  padding-left: 70px;
  text-decoration: none;
}
.sidebar-item:hover,.sidebar-item.selected {
  height: 60px;
  opacity: 2;
  background-color: $triger-hover;
  cursor: pointer;
  a{
    text-decoration: none;
    opacity: 1;
    .imgContainer{
      opacity: 2;
    }
  }
}
.sidebar-item.sub:hover{
  height: 50px;
  opacity: 2;
  background-color: $triger-hover;
  cursor: pointer;
  a{
    text-decoration: none;
    opacity: 1;
    .imgContainer{
      opacity: 2;
    }
  }
}

.selected-sub {
  height: 50px;
  opacity: 2;
  a {
    text-decoration: none;
    opacity: 1;
    .imgContainer {
      opacity: 2;
    }
  }
}
.imgContainer{
  color: rebeccapurple;
  opacity: 1;
  width: 35px;
  height: 35px;
  margin-right: 40px;
}

.sidebar-item-anchor {
  display: flex;
  align-items: center;
  padding-left: 30px;
  width: 100%;
  height: 100%;
  text-decoration: none;
}

