$color-white:                           #ffffff;
$color-general-red:                     #a90910;
$color-general-blue:                    #2E5480;
$color-grid-dark:                       #000;
$header-shadow:                         #004761;
$bg-color-header:                       #ffffff;
$scroll-bar-thumb:                      #005777;
$scrollbar-track:                       #f4f3f3;

// General
$color-success:                         $color-general-blue;
$color-error:                           $color-general-red;

//Main color in modals
$modal-title-color:                     #005777;
$main-modal-color:                      #323232;
$color-red:                             #636466;
$color-gray-light:                      #f0f0f0;
$color-gray:                            #b4b4b4;
$body-color-light-gray:                 #f7f7f7;

//SideBarMenu
$color-sidebar-text-transparent:        rgba(255, 255, 255, 0.5);
$color-sidebar-background-gray:         #58595b;

//Collapsible
$triger-hover:                          #004059;
$template-container-background:         #f4f3f3;

// Input Colors
$color-input:                           #323232;

// Link Colors
$color-link:                            #005777;
$color-link-hover:                      #006b91;
$color-link-active:                     #007dab;

//Button Colors
$color-button-submit:                   #005777;
$color-button-hover:                    #006b91;
$color-button-click:                    #007dab;
$color-button-error:                    #d5a2a2;
$color-button-blocked:                  #7fabbb;
$color-light-gray-border:               #d9d9d9;

