@import 'styles/colors.scss';

// General
$animation-time: 0.3s;
$hover-opacity: .7;
$active-opacity: .6;

// Elements styles
%tile {
  border-radius: 10px;
  padding: 20px;
  background-color: $color-white;
}

%tile-title {
  font-size: 18px;
  font-weight: 700;
  font-family: Quicksand;
  letter-spacing: .3px;
  color: #323232;
}

%button {
  padding: 10px 15px;
  border-radius: 10px;
  cursor: pointer;
  user-select: none;
  // TODO: BEGIN
  // TODO: This is temporary fallback to cleanup nested styles of current <CustomButton /> that should be refactored
  // TODO: to avoid a lot of boilerplate code, more clear markup and to have Single Source of Truth for whole application, etc.
  .fl-button {
    padding: 0;
  }
  // TODO: END
  transition: color $animation-time, background-color $animation-time, border-color $animation-time;
}

// TODO: make styles for primary button
%button-primary {
  @extend %button;
  background-color: $color-button-submit;
  color: $color-white;
  margin-left: 20px;
  font-size: 18px;
  &:hover,
  &:focus {
    background-color: $color-button-hover;
  }
  &:active {
    background-color: $color-button-click;
  }
}

%button-secondary {
  @extend %button;
  background-color: $color-white;
  color: $color-button-submit;
  border: 1px solid $color-button-submit;
  margin-right: 20px;
  &:hover,
  &:focus {
    background-color: $color-button-hover;
    color: $color-white !important;
    border: 1px solid $color-button-hover;
    .fl-buttonTextCenter {
     // color: $color-white;
    }
  }
  &:active {
    background-color: $color-button-click;
  }
}

// TODO: make styles for forms
%form-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  max-width: 400px;
  width: 100%;

}

%page-title {
  font-family: Quicksand;
  font-size: 29px;
  letter-spacing: 0.4px;
  text-align: left;
  color: $main-modal-color;
  float: left;
  flex: 1;
}

%page-title-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 30px 0;
  line-height: 50px;

  &::after {
    content: '';
    clear: both;
    display: block;
  }
}

%buttons-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 400px;
  width: auto;
}

%error-message-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
}

%error-message {
  position: relative;
  color: $color-button-error;
  font-weight: 500;
  font-family: Quicksand;
  font-size: 12px;
  margin-bottom: -2px;
}

%link {
  color: $color-link;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  font-weight: 600;
  transition: color $animation-time;
  &:focus {
    outline: auto;
  }
  &:hover,
  &:focus {
    text-decoration: none;
    color: $color-link-hover;
  }
  &:active {
    text-decoration: none;
    color: $color-link-active;
  }
}

// Animations
@keyframes fade-out {
  0% {
    opacity: 1;
    visibility: visible;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes rotate {
  0% {
    transform: translate3d(0, 0, 0) rotate(0);
  }
  100% {
    transform: translate3d(0, 0, 0) rotate(360deg);
  }
}

// helpers
%ghost-vertical-align {
  &:before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    width: 0;
  }
}