.signal {
  display: block !important;
  margin: -40px 0 0 190px;
  opacity: 0;
  position: absolute;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
}

.forgot-pass{
  display: block !important;
  margin: 13px 0 0 -105px;
  opacity: 0;
  position: absolute;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
}
@keyframes pulsate {
  0% {
    transform: scale(.1);
    opacity: 0.0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}
