@import 'styles/mixins.scss';

.avatar-upload-modal {
  padding: 0 15px;
  text-align: center;

  .avatar-upload-modal-title {
    font-size: 24px;
    font-weight: 700;
    color: $modal-title-color;
  }
  .avatar-upload-modal-preview {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 250px;
    margin: 20px auto 0;
    background: $color-gray-light;
    border: 1px dashed $color-light-gray-border;
    position: relative;
    transition: opacity $animation-time, border-color $animation-time;
    &:not(.m-with-file) {
      &:hover,
      &:focus {
        opacity: $hover-opacity;
      }
      &:active {
        opacity: $active-opacity;
      }
    }
    &.m-with-file {
      cursor: move; // fallback if grab cursor is unsupported
      cursor: grab;
      &:active {
        cursor: grabbing;
      }
    }
    &.m-dragover {
      border-color: $color-success;
    }
    &.m-dragover-invalid {
      border-color: $color-error;
    }
  }
  .avatar-upload-modal-preview-text {
    padding: 0 10px;
    text-align: center;
  }
  .avatar-upload-modal-preview-input {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    opacity: 0;
    cursor: pointer;
  }
  .avatar-upload-modal-controls {
    width: 210px;
    margin: 5px auto 0;
    animation: fade-in $animation-time forwards;
    &.m-error {
      color: $color-error;
    }
  }
  .avatar-upload-modal-controls-zoom {
    width: 100%;
    &::-ms-tooltip {
      display: none;
    }
  }
  .avatar-upload-modal-controls-clear {
    @extend %link;
    display: inline-block;
  }
}

.avatar-upload-modal.msie {
  .base-modal-content {
    min-height: 400px;
  }
}