@import "styles/mixins.scss";

.profile-item-container {
  display: flex;
  justify-content: center;

  .personal-info-container {
    width: 700px;
    display: flex;
    align-items: center;
    padding: 15px;
    background-color: #f3f9ff;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 5px;
    margin-bottom: 10px;

    .personal-info {
      display: flex;
      align-items: center;
      flex: 1;

      .profile-info-block {
        padding-left: 20px;
        max-width: 330px;

        .link {
          @extend %link;
        }
      }
    }

    .rounded-circle {
      width: 100px;
      height: 100px;
      border-radius: 10px;
      padding: 5px;
    }

    .skills-container {
      display: flex;
      flex-direction: column;
      align-items: center;

      .list-group {
        display: flex;
        flex-direction: column;

        .list-group-item {
          display: flex;
          align-items: center;
          background-color: #fff;
          border: 1px solid rgba(0,0,0,.125);
          padding: 5px 20px 10px 20px;
        }
        .skill {
          width: 30px;
          padding-right: 5px;
        }
      }
    }
  }
}