@import 'styles/mixins.scss';

.edit-profile-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  .edit-profile-title-wrapper {
    @extend %page-title-wrapper;

    .edit-profile-title {
      @extend %page-title
    }
  }

  .edit-profile-buttons-container {
    .cancel-btn {
      @extend %button-secondary;
    }
    .submit-btn {
      @extend %button-primary;
    }
  }

  .edit-profile-detail {
    width: calc(100vw - 360px);
    border-radius: 10px;
    background-color: $color-white;
    display: flex;
    padding: 20px;

    .edit-profile {
      width: 100%;
      margin-left: 50px;

      .form-group {
        width: 100%;
        max-width: 600px;
        margin-right: 40px;
        margin-bottom: 5px;
        position: relative;
        .wrap-input-field {
          height: 50px;
        }
      }

      .edit-profile-block-item {
        display: flex;
        flex-direction: column;
      }
    }

    .has-error.form-group {
      .react-phone-number-input--invalid {
        margin-bottom: 18px;
      }
      .error-message-container {
        @extend %error-message-container;
        .error-message {
          @extend %error-message;
          margin-bottom: -14px !important;
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .edit-profile-container {
    .edit-profile-detail {
      flex-direction: column;
      align-items: center;

      .edit-profile-user-image-block {
        margin-right: 0;
      }
    }
  }
}