@import 'styles/mixins.scss';

.post-item-container {
  display: flex;
  padding: 10px;
  background-color: $color-white;
  border-radius: 10px;
  width: 70%;
  margin-bottom: 15px;

  .post-item-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 40px;
    width: 15%;
    padding-top: 10px;

    .post-item-image {
      width: 130px;
      height: 120px;
      border-radius: 10px;
      margin-bottom: -30px;
    }
  }

  .post-item-details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    padding: 30px;

    .likes-buttons-container {
      width: 115px;
      display: flex;
      justify-content: space-between;

      .likes {
        display: flex;
        align-items: center;
      }

      .likes-counter {
        font-size: 25px;
        font-weight: 500;
      }

      .like {
        width: 30px;
        height: 30px;
        padding: 5px;
        cursor: pointer;
        &:hover{
          width: 28px;
          background-color: $template-container-background;
        }
      }

      .comment-btn {
        @extend %button-primary;
      }
    .delete-btn {
        @extend %button-primary;
      background-color: $color-general-red;
      &:hover,
      &:focus {
        background-color: $color-red;
      }
      &:active {
        background-color: $color-red;
      }
      }
    }

  }

}