@import "styles/mixins.scss";

.loginization-wrapper-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url('../../images/showcase.jpg');
  background-size: cover;
  height: 100vh;
  background-repeat: no-repeat;
  background-position: 50%;

  .loginization-content {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
.public-view {
  background: #f4f3f3 ;
}

.loginization-header {
  height: 25px;
  min-height: 10px;
  display: flex;
  justify-content: space-around;
  opacity: 0.9;
  font-family: Quicksand;
  font-size: 18px;
  letter-spacing: 0.1px;
  background-color: #00465f;
  padding-top: 10px;
  padding-bottom: 10px;

  .link {
    @extend %link;
    color: $color-white;
  }

  .left-block, .right-block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .left-block {
   width: 250px;
  }

  .right-block {
    width: 150px;
  }
}

.loginization-footer {
  min-height: 10px;
  display: flex;
  justify-content: center;
  opacity: 0.8;
  font-family: Quicksand;
  font-size: 18px;
  letter-spacing: 0.1px;
  background-color: #00465f;
  padding-top: 10px;
  padding-bottom: 10px;
}