
.post-detail-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .post-item-container {
    width: 95%;
    margin-top: 15px;
  }
  .post-form-container {
    width: 95%;
  }
}