@import 'styles/mixins.scss';
// TODO: Component styles should be refactored after first priority tasks will be completed
.base-modal-overlay {
  @extend %ghost-vertical-align;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 30px 20px;
  text-align: center;
  background-color: rgba($color-button-submit, 0.1);
  z-index: 1000;
  overflow: auto;
  animation: fade-in $animation-time;
  &.m-without-bg {
    background-color: transparent;
  }
}

.hide-scroll {
  overflow: hidden;
}

.base-modal-pointer-none {
  pointer-events: none;
}

.base-modal-main {
  width: 100%;
  background-color: $color-white;
  font-size: 18px;
  display: inline-flex;
  vertical-align: middle;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.15);

  .base-modal-main-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  .base-modal-icon {
    margin-top: 32px;
  }

  .base-modal-content {
    height: 100%;
    width: 100%;
    padding: 20px 15px 10px 15px;
    color: $main-modal-color;
    letter-spacing: 0.3px;
  }

  .base-modal-header {
    height: 70px;
    background-color: $color-sidebar-background-gray;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .base-modal-header-text {
    font-size: 22px;
    font-weight: 300;
    text-align: center;
    color: $color-white;

    .base-modal-header-close-image {
      position: absolute;
      right: 20px;
      font-size: x-small;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      img {
        cursor: pointer;
      }
    }
  }

  .base-modal-bottom {
    margin: 10px 0 20px;
  }
.base-modal-bottom-buttons {
  display: flex;
  align-items: center;
}
  .base-modal-bottom-cancel {
    @extend %button-secondary;
  }

  .base-modal-bottom-submit {
    @extend %button-primary;
  }

  .close-base-modal-main {
    display: none !important;
  }
}


.custom-position {
  position: absolute;
}