@import 'styles/mixins.scss';

.profile-container {
  width: 100%;
  display: flex;
  justify-content: center;

  .profile-non-exist {
    display: flex;
    flex-direction: column;
  }

  .profile-edit-btn {
    float: right;
    border-radius: 10px;
    background-color: $color-button-submit;
    letter-spacing: 0.3px;
    font-family: Quicksand;
  }
  .profile-title-wrapper {
    @extend %page-title-wrapper;

    .profile-title {
      @extend %page-title
    }
  }

  .profile-detail {
    width: calc(100vw - 360px);
    border-radius: 10px;
    background-color: $color-white;
    display: flex;
    flex-direction: column;
    padding: 20px;

    .profile-wrapper {
      display: flex;

      .profile-user-description {
        flex-grow: 1;

        .profile-user-name {
          font-family: Quicksand;
          font-size: 29px;
          letter-spacing: 0.4px;
          text-align: left;
          color: $main-modal-color;
          margin-bottom: 10px;
        }

        .detailed-item {
          display: flex;
          margin-bottom: 10px;

          .detailed-title {
            margin-right: 25px;
            width: 170px;
            display: flex;
            align-items: center;

            .detailed-wrapper-icon {
              width: 20px;
              margin-right: 20px;

              .detailed-icon {
                display: block;
                margin: 0 auto;
              }
            }

            .detailed-title-name {
              font-family: Quicksand;
              font-size: 18px;
              font-weight: bold;
              letter-spacing: 0.3px;
              text-align: left;
              color: #323232;
            }
          }

          .detailed-value {
            display: flex;
            font-family: Quicksand;
            font-size: 18px;
            letter-spacing: 0.3px;
            text-align: center;
            color: $color-button-submit;

            .social-media {
              width: 35px;
              height: 30px;
              margin-right: 10px;
              cursor: pointer;
              &:hover {
                width: 32px;
                height: 28px;
              }
            }

            .list-group-item {
              display: flex;
              align-items: center;
              background-color: #fff;
              padding: 0 5px 0 5px;
            }
            .skill {
              width: 30px;
              padding-right: 5px;
            }
          }
        }
      }
    }

    .profile-card-container {
      display: flex;
      justify-content: space-around;

      .profile-card-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 1;

        .profile-list-group {
          width: 80%;
          li {
            display: flex;
            flex-direction: column;
            border: 2px solid #dee2e6;
            margin-bottom: 5px;
            padding: 10px;
          };
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .profile-container {
    .profile-detail {
      flex-direction: column;
      align-items: center;

      .profile-user-image-block {
        margin-right: 0;
      }
    }
  }
}