@import "styles/mixins.scss";

.main-template-container {
  display: flex;

  .wrapper-container {
    width: 100%;
    margin: 0 auto;
  }

  .template-header {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
    background: #f4f3f3;
    overflow: auto;
    .template-header-container {
      height: 70px;
      min-height: 70px;
      background-color: $color-white;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-right: 30px;
      padding-left: 30px;

      .template-header-search {
        width: 300px;
        min-width: 160px;
        display: flex;
      }
      .template-header-icons-container {
        width: 130px;
        display: flex;
        justify-content: space-between;
        .avatar-img {
          width: 50px;
          height: 50px;
          border-radius: 50px;
        }
        img {
          cursor: pointer;
          width: 45px;
          height: 45px;
        }
      }
    }

    .template-container {
      padding-left: 30px;
      padding-right: 30px;
      padding-bottom: 30px;
      background: $template-container-background;
    }
  }

  .template-sideBar-container {
    min-height: 100vh;
    width: 230px;
    background-color: #00465f;

    .template-profile-block {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 230px;
      margin-bottom: 135px;

      .template-title {
        @extend %tile-title;
        padding-top: 15px;
        padding-bottom: 5px;
        color: $color-white;
        text-decoration: none;
      }
    }

    .submit {
      border-radius: 10px;
      color: $color-white;
      letter-spacing: 0.3px;
      background: rgba(0, 0, 0, 0);
      border: solid 1px $color-white;
      opacity: 0.5;
    }
    .submit-active {
      border-radius: 10px;
      color: $color-white;
      letter-spacing: 0.3px;
      background: rgba(0, 0, 0, 0);
      border: solid 1px $color-white;
      opacity: 2;
    }

    .submit:hover {
      opacity: 2;
    }

    .submit:active {
      background-color: $color-button-click;
    }

    .submit-active:active {
      background-color: $color-button-click;
    }

    .template-colapsible {
      display: flex;
      justify-content: center;
      cursor: pointer;

      .template-colapsible-icon {
        position: absolute;
        margin-left: 30px;
        margin-top: 11px;
        color: $color-white;
        opacity: 1;
      }
    }
  }

  .spinner-grid-display-default {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: rgba(255, 255, 255, .8);
    width: 100%;
    height: 100%;
    z-index: 999;
  }
}

//The link which when clicked opens the collapsable area
.Collapsible__trigger {
  display: flex;
  justify-content: space-between;
  width: 165px;
  align-items: center;
  font-size: 18px;
  letter-spacing: 0.3px;
  text-decoration: none;
  position: relative;
  padding-left: 30px;
  padding-right: 35px;
  height: 60px;
  text-transform: uppercase;
  font-family: Quicksand;
  color: $color-sidebar-text-transparent;

  .trigerIcon2 {
    width: 20px;
    height: 11px;
    transition: transform 300ms;
    opacity: 0.5;
  }
  &.is-open {
    .trigerIcon2 {
      transform: rotateZ(180deg);
      width: 20px;
      height: 11px;
      transition: transform 300ms;
    }
  }
}

.Collapsible__trigger:hover, .Collapsible .triger-selected-sub {
  width: 165px;
  display: flex;
  align-items: center;
  color: $color-white;
  font-size: 18px;
  letter-spacing: 0.3px;
  text-decoration: none;
  position: relative;
  padding-left: 30px;
  padding-right: 35px;
  height: 60px;
  opacity: 2;
  background-color: $triger-hover;

  .template-colapsible-icon {
    position: absolute;
    margin-left: 30px;
    margin-top: 11px;
    opacity: 2;
    color: $color-white;
  }
  .trigerIcon2 {
    width: 20px;
    height: 11px;
    transition: transform 300ms;
    opacity: 2;
  }
  .trigerIcon {
    opacity: 2;
  }
}