@import 'styles/mixins.scss';

.profile-user-image-block {
  margin-right: 20px;

  .profile-image {
    width: 190px;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .profile-btn-wrapper {
    display: flex;
    flex-direction: column;
    font-family: Quicksand;

    .image-block-btn {
      @extend %button-secondary;
      margin-top: 5px;
    }
  }
}