@import "styles/mixins.scss";

.sign-up-form-wrapper {
  @extend %form-wrapper;
  background: #D8E1F8;
  opacity: 0.9;
  padding: 22px;
  border-radius: 10px;

  .invalid {
    .next, .next:hover, .next:active {
      background-color: $color-button-blocked;
    }
  }

  .form-group {
    position: relative;
    .error-message-container {
      @extend %error-message-container;
      .error-message {
        @extend %error-message;
      }
    }
  }

  .submit {
    @extend %button-primary;
    margin-left: 0;
    margin-top: 25px;
  }

  .sign-up-title {
    font-family: Quicksand;
    letter-spacing: 0.4px;
    text-align: left;
    color: $main-modal-color;
    width: auto;
    display: flex;
    justify-content: center;
    font-size: 29px;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .sign-up-link-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: linear-dynamic-size-relate-vh(10, 25, 720, 1080);
    font-family: Quicksand;
    font-size: 14px;
    color: $main-modal-color;
    a {
      padding-left: 10px;
      color: $color-button-submit;
    }
  }
}