@import 'styles/mixins.scss';

.comment-item-container {
  display: flex;
  padding: 10px;
  background-color: $color-white;
  border-radius: 10px;
  width: 80%;
  margin-bottom: 15px;

  .comment-item-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 40px;
    width: 15%;
    padding-top: 10px;

    .comment-item-image {
      width: 130px;
      height: 120px;
      border-radius: 10px;
      margin-bottom: -30px;
    }
  }

  .comment-item-details-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 1;
    padding: 30px;

    .likes-buttons-container {
      width: 115px;
      display: flex;
      justify-content: space-between;

      .delete-btn {
        @extend %button-primary;
        background-color: $color-general-red;
        &:hover,
        &:focus {
          background-color: $color-red;
        }
        &:active {
          background-color: $color-red;
        }
      }
    }

  }

}